* {
    font-family: 'Roboto Mono', monospace;
}

body, html {
    margin: 0;
    padding: 0;
    background-image: url(../img/mario-luigi-figures-funny-163114.jpeg);
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFFF1;
    border-radius: 5px;
    max-width: 500px;
    min-height: 500px;
    margin-left: calc(50% - 250px);
    margin-top: 10%;
    position: relative;
}

.game__header {
    text-transform: uppercase;
    font-size: 38px;
}

.btn {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
}

.btn-add {
    background-color: #523A34;
    bottom: 110px;
}

.btn-play {
    background-color: #FF0000;
    bottom: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add:disabled {
    background-color: #bcbab8;
}

.user:first-child {
    margin-left: 0px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 25px;
}

.user__name{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #816C61;
    color: #fff;
}

.user__name:disabled {
    background-color: #bcbab8;
}

.fas {
    margin-left: 10px;
}

.no-click {
    pointer-events: none;
}

.game__section--list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__section--list li:nth-child(1) {
    margin-left: -52px;
}

.fa-check {
    padding-left: 2px;
}

@media only screen and (max-width: 600px) {
    #game {
        margin: 20px;
    }
}

#mario-game {
    position: absolute;
    top: 20%;
    left: calc(50% - 280px);
}

.the_mario_game {
    display: none;
}

.the_mario_game.is-display {
    display: block;
}

//********************************memory game***********************************
.memory-game {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.memory-game__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 620px;
}

.memory-game__item {
    margin: 5px;
    width: 80px;
    height: 120px;
    box-sizing: border-box;
    transition: all .4s linear;
    transform-style: preserve-3d;
}

.memory-game__item--reverse {
    width: 80px;
    height: 120px;
    border-radius: 5px;
    border: #ffffff 3px solid;
    content:url('../img/reverse.jpg');
}

.memory-game__item--select {
    border-radius: 5px;
    border: 3px solid #FF0000;
    transform: rotateY( 180deg );
}

.score-table {
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    position: absolute;
    top: calc(50% - 46px);
    left: 10%;
    display: none;
}

.player {
    font-size: 35px;
}

#player1--counter {
  margin-bottom: 20px
}

.btn-back {
    position: relative;
    background-color: #FF0000;
    margin: 135px -15px;
}

.active::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #FF0000;
    margin: 15px -20px 5px;
    position: absolute;
}

.memory-game__timer{
    position: relative;
    color: #fff;
    font-size: 35px;
    margin: 0 0 35px;
}
