* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url(../img/mario-luigi-figures-funny-163114.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFFF1;
    border-radius: 5px;
    max-width: 500px;
    min-height: 500px;
    margin-left: calc(50% - 250px);
    margin-top: 10%;
    position: relative;
}

.game__header {
    text-transform: uppercase;
    font-size: 38px;
}

.btn {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
}

.btn-add {
    background-color: #523A34;
    bottom: 110px;
}

.btn-play {
    background-color: #FF0000;
    bottom: 40px;
}

.btn-add:disabled {
    background-color: #bcbab8;
}

.user:first-child {
    margin-left: 0px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 25px;
}

.user__name{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #816C61;
    color: #fff;
}

.user__name:disabled {
    background-color: #bcbab8;
}

.fas {
    margin-left: 10px;
}

.no-click {
    pointer-events: none;
}

.game__section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__section-list li:nth-child(1) {
    margin-left: -52px;
}

.fa-check {
    padding-left: 2px;
}

@media only screen and (max-width: 600px) {
    #game {
        margin: 20px;
    }
}

#mario_game {
    position: absolute;
    top: 20%;
    left: calc(50% - 280px);
}

.the_mario_game {
    display: none;
}

.the_mario_game.is-display {
    display: block;
}